/*table{*/
/*    width:800px;*/
/*}*/

/*.bg-color {*/
/*    background: #25292b;*/
/*    width: 350px;*/
/*    color: #fff;*/
/*    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
/*    padding: 16px;*/
/*    border-radius: 4px;*/
/*    overflow: hidden;*/
/*}*/
/*div#bznrd_arportal-root .my_account {*/
/*    margin-bottom: 10px;*/
/*    color:#fff;*/
/*}*/
/*.main-bx {*/
/*    display: flex;*/
/*    margin-bottom: 20px;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/
/*.bcgd-color {*/
/*    background: #25292b;*/
/*    color: #fff;*/
/*}*/
/*.table-cstm-dgn th, .table-cstm-dgn td {*/
/*    padding: 6px 8px 6px 8px;*/
/*    border-bottom: 1px solid rgba(81, 81, 81, 1)!important;*/
/*}*/
/*.table-cstm-dgn td span, .table-cstm-dgn th span {*/
/*    font-size: 14px;*/
/*    color: #fff;*/
/*}*/
/*.table-cstm-dgn td, .table-cstm-dgn th, .table-cstm-dgn tr {*/
/*    background: #25292b;*/
/*}*/
/*div#bznrd_arportal-root .bcgd-color a {*/
/*    color: #a1001a;*/
/*}*/
/*div#bznrd_arportal-root svg {*/
/*    fill: #a1001a;*/
/*    stroke:#a1001a;*/
/*}*/
/*div#bznrd_arportal-root .pd-left {*/
/*    padding-left: 0px;*/
/*}*/
/*.exrnbV {*/
/*    background: #25292b!important;*/
/*}*/
/*.exrnbV span {*/
/*    color: #fff!important;*/
/*}*/
/*.pd-left .bcgd-color {*/
/*    padding: 0px;*/
/*}*/
/*.table-cstm-dgn th .lpqrQA, .table-cstm-dgn td .lpqrQA {*/
/*    border: 2px solid #a1001a;*/
/*}*/
/*.mr-20 {*/
/*    margin-right: 20px;*/
/*}*/
/*.bAoTgY , .lpqrQA{*/
/*    border: 2px solid #a1001a!important;*/
/*}*/
/*.content-root.bcgd-color .etKeHw {*/
/*    background: #a1001a;*/
/*    border: 2px solid #a1001a;*/
/*    border-radius: 0px;*/
/*}*/
/*.dMZBpZ*/
/*{*/
/*    background: #a1001a!important;*/
/*}*/
/*nav.sidebar-nav ul {*/
/*    list-style-type: none;*/
/*    padding: 10px;*/
/*}*/
/*nav.sidebar-nav ul li a {*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    display: flex;*/
/*    padding: 6px 16px;*/
/*}*/
/*nav.sidebar-nav ul li a:focus, nav ul li a:hover*/
/*{*/
/*    color:#fff;*/
/*}*/
/*.uqlPU {*/
/*    border: 2px solid #fff!important;*/
/*}*/
/*.tabl-cstm thead td , .jZIhBM , .pd-left .bcgd-color .kDANyu{*/
/*    border-bottom: 1px solid rgba(81, 81, 81, 1)!important;*/
/*}*/
/*.diCUek {*/
/*    border: 1px solid #fff!important;*/
/*}*/
/*.pd-5 {*/
/*    padding: 10px 10px 0px;*/
/*}*/
/*.mt-15 {*/
/*    margin-top: 15px;*/
/*}*/
/*.main-cstm {*/
/*    overflow: hidden;*/
/*}*/
/*.table-cstm-dgn .jwjpxU {*/
/*    border-inline-end: 1px solid rgba(81, 81, 81, 1)!important;*/
/*}*/
/*div#bznrd_arportal-root table tr th, div#bznrd_arportal-root table tr td {*/
/*    border: 0px;*/
/*}*/
/*table.bcgd-color thead td {*/
/*    border-bottom: 1px solid #515151!important;*/
/*}*/
/*.table-cstm-dgn thead tr th div:nth-child(3) {*/
/*    border-inline-end: 1px solid #515151;*/
/*}*/
/*nav.sidebar-nav li {*/
/*    padding-left: 0px;*/
/*}*/
/*nav.sidebar-nav li a{*/
/*    border-bottom: 0px;*/
/*}*/
/*nav.sidebar-nav li a:hover{*/
/*color:#a1001a;*/
/*}*/
/*div#bznrd_arportal-root h1, div#bznrd_arportal-root h2, div#bznrd_arportal-root h3, div#bznrd_arportal-root h4, div#bznrd_arportal-root h5, div#bznrd_arportal-root h6 {*/
/*    color: #fff;*/
/*}*/
/*.cardContent.bg-color p {*/
/*    margin: 0px;*/
/*}*/
/*.page-id-4400 div#bznrd_arportal-root .StyledBox-sc-13pk1d4-0.dIpThN {*/
/*    width: auto;*/
/*}*/
/*div#bznrd_arportal-root a*/
/*{*/
/*    border-bottom: 0px;*/
/*}*/
/*.table-cstm-dgn thead tr th:last-child div {*/
/*    border: 0px;*/
/*}*/