.table-cstm-dgn a.anch-tg , table-cstm-dgn a.anch-tg {
    color: #fff;
    display: inline-flex;
    line-height: 30px;
}
.table-cstm-dgn a.gzrmWK svg {
    margin-right: 5px;
}
div#bznrd_arportal-root .butn-styl svg {
    fill: #fff;
    stroke: #fff;
    width: 18px;
    height: 18px;
}
div#bznrd_arportal-root .butn-styl {
    color: #fff;
    background: #7b0d1f;
    padding: 6px 16px;
    margin-bottom: 20px;
}
.payment_details h2 {
    font-size: 30px;
}
.payment_details h1 {
    font-size: 34px;
}
.form-inp-sp:first-child , .form-inp-sp-1:first-child , .form-inp-sp-1 .cIDibG  {
    margin-right: 10px;
}
.form-inp-sp-1 label {
    font-size: 16px;
}
