.main-menu {
  nav.sidebar-nav 
  {
  ul
  {
  list-style-type: none;
  li
  {
    a
    {
      text-decoration: none;
      line-height: 42px!important;
    }
  }
  }
 }
}
.noti-menu {
  padding-inline-start: 40px;
}
div#bznrd_arportal-root{

background: #1e2123;
$borderBottom: #ffffff9e;
$text-color-light:#ffffff;


$font-size-sm:14px;
$margin-zero:0px;
$widthFull:100%;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width:767px)";
$ipadpro:"(max-width:1024px)";

  nav.sidebar-nav{
    margin-top: 15px;
    ul, li{padding: 0px; margin: 0px; list-style: none; margin: 5px;}
     // a {
        // color:$text-color-light;
     // }
  }
.main-dv{
  p
  {
    margin: $margin-zero;
  }
  // .bcgd-color
  // {
  //    a{
  //      color:$text-color-light;
  //    }
  // }
  .full-wd-mbl{
  .card-ar
  {
     min-width:300px;
     margin-bottom:20px;
     .rd-btn 
      {
        label 
        {
          width: 100%;
        }
      }
    //  table 
    //  {
    //     tbody 
    //     {
    //       tr  
    //       {
    //         td
    //         {
    //           a
    //           {
    //             color:$text-color-light;
    //           }
               
    //         }
    //       }
    //     }
    //  }
    
      label 
      {
        margin-bottom:12px;
      }   
    .slct-dgsn 
    {
      padding-right: 10px;
      width: 50%;
    }
  }
}
}
  @media #{$tablet} {
      .main-dv
      {
          flex: 1 3 auto;
          p {
            font-size: $font-size-sm;
            margin: $margin-zero;
          }
          .card-ar
          {
             min-width:200px;
             &:last-child{
                 overflow-x: scroll;
             }
             .bcgd-color
             {
                //td, a{
                 // color:$text-color-light;
                 // font-size: $font-size-sm;
               // }
             }
             .support {
                  font-size:$font-size-sm;
              }
             span{
               font-size: $font-size-sm;
             }
             .cls-dtatbl
             {
                th , td
                {
                  padding:20px;
                }
             }
             .tabl-cstm
             {
               td, th{
                 font-size: $font-size-sm;
               }
             }
             .set-width
               {
                   min-width:190px;
                   float: left;
                   background: #333;
                   margin-right:10px;
                   border-top-right-radius: 7px;
                   border-top-left-radius: 7px;
                   border-bottom: 3px solid $borderBottom;
                     div
                       {
                         &:first-child
                         {
                           width:$widthFull;
                           float: left;
                          display: block;
                         }
                         span
                         {
                           width: 70%;
                           float: left;
                         }
                       }
                 button
                 {
                   width:$widthFull;
                 }
               }
               .set-width.filter
               {
                  position: relative;
                  padding-bottom: 25px;
                  min-width:185px;
                  margin-left:10px;
                  svg {
                      fill:$text-color-light;
                      stroke: $text-color-light;
                      position: absolute;
                      right: 5px;
                      top: 10px;
                  }
                  input {
                      font-size: $font-size-sm;
                  }
              }

          }
      }

  }

  @media #{$mobile}
  {
    .main-menu {
         width: 50%;
         position: absolute;
         max-height: 100%;
      }
    .main-dv
    {
      .full-wd-mbl
       {
         display: block; 
         .cstm-sm-sc 
         {
            .card-ar
            {
             .slct-mn 
             {
             .slct-dgsn 
             {
               padding-right: 10px;
               width: 100%;
               margin-bottom: 10px;
             }
             }
            }
           }
       }     
        .card-ar {
            min-width: 100%;
            width:$widthFull;
            float: left;
            display: block;
            max-width: 100%;
            &:last-child{
                overflow-x: scroll;
            }
            .rd-btn {
              display: block;
              margin-bottom: 10px;
             }
             .slct-mn {
              display: block;
           }        
            .bcgd-color
            {
               td, a{
                 font-size: $font-size-sm;
               }
            }
            .support {
                 font-size:$font-size-sm;
             }
            span , p{
              font-size: $font-size-sm;
                margin: $margin-zero;
            }
            .cls-dtatbl
            {
               th , td
               {
                 padding:20px;
               }
            }
            .set-width
              {
                  width:49%;
                  float: left;
                  background: #333;
                  margin-right:10px;
                  border-top-right-radius: 7px;
                  border-top-left-radius: 7px;
                  border-bottom: 3px solid $borderBottom;
              			div
              			  {
              				  &:first-child
              				  {
              				    width:$widthFull;
                          float: left;
                         display: block;
              				  }
                        span
                      	{
                      		width: 70%;
                      		float: left;
                      	}
              			  }
                button
                {
                  width:$widthFull;
                }
              }
              .set-width.filter
              {
                 position: relative;
                 padding-bottom: 20px;
                 min-width:49%;
                 svg {
                     fill:$text-color-light;
                     stroke:$text-color-light;
                     position: absolute;
                     right: 5px;
                     top: 10px;
                 }
                 input {
                     font-size: $font-size-sm;
                 }
             }

        }
        .tabl-cstm
        {
          td, th{
            font-size: $font-size-sm;
          }
        }

  }
  }

  @media #{$ipadpro}
  {
    .main-dv
    {
        flex: 1 3 auto;
        .card-ar {        
          &:last-child{
              overflow-x: scroll;
          }
          }
    }
  }

}
